:root {
	--blue: #334960;
	--grey: #676767;
	--light-green: rgb(217, 238, 221);
	--mid-green: rgb(179, 219, 192);
	--green: rgb(132, 184, 162);
	--dark-green: #689290;
	--orange: #efc174;
	--light-orange: rgb(249, 222, 119);
	--green3: rgb(237, 237, 175);
	--icon: #28c4f8;
	--right: rgb(57, 118, 154);
	--left: rgb(12, 81, 122);
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Oswald;
}

#root {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

.header {
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	font-size: 2rem;
	color: var(--orange);
	border-bottom: 1px solid var(--blue);
	color: rgba(0, 0, 0, 0) !important;
}

.header .cerp {
	border-right: 1px solid var(--grey);
	padding-right: 0.5rem;
	margin-right: 0.5rem;
}

.header .right {
	margin-left: auto;
}

.header .contact {
	color: var(--grey);
}

.logo {
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.header-logo {
	height: 47px;
	width: 209px;
	background-image: url('/public/labs-grey-oswald.png');
}

.main-logo {
	width: 401px;
	max-width: 75%;
	height: 198px;
	background-image: url('/public/labs-white-oswald.png');
}

.footer {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.body {
	height: calc(100% - 80px);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.panel {
	display: flex;
	flex-direction: column;
	width: calc(100% - 40px);
	min-height: 60vh;
	align-items: center;
	padding: 20px;
	margin: auto;
}

.panel.main {
	min-height: calc(90% - 40px);
}

.panel.mini {
	min-height: initial;
}

.panel .bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex: 1;
	align-items: center;
	font-family: sans-serif;
	font-size: 1.5rem;
	color: var(--grey);
}

.panel.team .bottom {
	align-items: initial;
}

.panel .bottom.horizontal {
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.panel .bottom > div {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 10px;
}

.panel .bottom .img {
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	min-height: 30vh;
	max-height: 50vh;
}

.panel .bottom .txt {
	font-size: 6rem;
	border-radius: 6px;
	padding: 20px;
	padding-left: 5px;
}

.panel .bottom .right.txt {
	text-align: right;
	padding-left: 20px;
	padding-right: 5px;
}

.panel .bottom .segment {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 20px 0;
}

.right .segment {
	margin-left: 10%;
}

.left .segment {
	margin-right: 10%;
}

.panel .bottom .segment:first-child {
	padding-top: 0;
}

.main.panel {
	background: linear-gradient(to right, var(--left), var(--right));
	/*
	background-size: 200% 200%;
	animation: GradientAnimation 5s ease-in infinite;
	*/
	display: flex;
	justify-content: center;
	color: white;
	align-items: flex-start;
}

.main .title {
	display: flex;
	font-size: 5rem;
	padding: 2.5rem;
	color: var(--orange);
	max-width: 100%;
	animation: 1s ease-out 0s 1 fadeIn;
}

.main .subtitle {
	margin-left: 16.7rem;
	font-size: 2.5rem;
}

.panel .heading,
.panel h1 {
	font-size: 3rem;
	padding-bottom: 20px;
	color: var(--grey);
	text-align: center;
	font-weight: normal;
	margin-block-start: 0;
	margin-block-end: 0;
}

.cerp {
	border-right: 1px solid var(--grey);
	color: var(--grey);
	font-weight: 500;
	/*
	background-image: url('/public/cerp-grey.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/*color: rgba(0, 0, 0, 0)!important;*/
}

.labs {
	/* font-family: Inconsolata; */
	color: var(--orange);
}

.panel .bottom .label.segment {
	padding-top: 0;
	justify-content: flex-start;
	flex: 0;
	font-size: 2.5rem;
}

.mischool a {
	color: #fc6171;
}

.platform a {
	color: #74aced;
}

.wb a {
	color: #002f54;
}

.title .cerp {
	color: white;
	border-color: white;
	border: none;
	letter-spacing: -2px;
	padding-right: 1.25rem;
}

.title .labs {
	padding-left: 1.25rem;
	border-left: 4px solid white;
}

.panel .bottom .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: 2px solid var(--grey);
	border-radius: 12px;
	flex: 0;
	padding: 20px;
	margin-bottom: 20px;
}
.panel .bottom .profile .profile-img {
	height: 200px;
	width: 200px;
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 100%;
	border: 2px solid var(--grey);
}

.panel .bottom .profile div {
	margin: 20px 0;
}

.panel .bottom .profile .profile-name {
	font-size: 1.5rem;
	margin-bottom: 0;
	font-weight: 600;
}

.panel .bottom .profile .profile-title {
	font-size: 1rem;
	margin-top: 5px;
}

.panel .bottom .profile .profile-body {
	font-size: 1rem;
}

@keyframes GradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.main.panel {
		align-items: center;
	}

	.main .title {
		text-align: center;
		align-items: center;
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
	}

	.main .subtitle {
		margin-left: 0;
		text-align: center;
		font-size: 2rem;
	}

	.panel:not(.main) {
		max-width: 90%;
	}

	.panel .bottom {
		flex-direction: column;
	}

	.panel .right .segment:last-child {
		/* padding-bottom: 0;*/
	}

	.panel .bottom .label.segment {
		padding-top: 20px;
		padding-bottom: 0;
	}

	.panel .bottom .txt {
		font-size: 3rem;
		order: 2;
	}

	.panel .bottom .right.txt {
		text-align: left;
		padding-left: 5px;
		padding-right: 20px;
	}

	.panel .bottom .img {
		order: 1;
		width: 100%;
	}

	.panel .bottom :not(.img) {
		order: 2;
	}

	.right .segment {
		margin-left: initial;
	}

	.left .segment {
		margin-right: initial;
	}
}

@media only screen and (min-width: 1920px) {
	.panel:not(.main) {
		max-width: 75%;
	}
}
